
:root {
    --cell-size: 50px;
    --border-width: 1px;
    --bold-border-width: 3px;
    --num-cells: 9;
    --gap: 1px;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
    width: calc(var(--num-cells) * (var(--cell-size) + 2 * var(--border-width)) + (var(--num-cells) - 1) * var(--gap) + 2 * (var(--bold-border-width) - var(--border-width)));
    height: auto;
    padding-bottom: 20px;
  }
  
  
#game-board {
  display: grid;
  grid-template-columns: repeat(var(--num-cells), 1fr);
  grid-template-rows: repeat(var(--num-cells), 1fr);
  gap: var(--gap);
  background-color: black;
  width: calc(var(--num-cells) * (var(--cell-size) + 2 * var(--border-width)) + (var(--num-cells) - 1) * var(--gap) + 2 * (var(--bold-border-width) - var(--border-width)));
  height: calc(var(--num-cells) * (var(--cell-size) + 2 * var(--border-width)) + (var(--num-cells) - 1) * var(--gap) + 2 * (var(--bold-border-width) - var(--border-width)));
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-width) solid #ccc;
}
  
/* Vertical bold borders */
.cell:nth-child(3n) {
    border-right: 3px solid black;
  }
  
  /* Horizontal bold borders */
  .cell:nth-child(27n + 19),
  .cell:nth-child(27n + 20),
  .cell:nth-child(27n + 21),
  .cell:nth-child(27n + 46),
  .cell:nth-child(27n + 47),
  .cell:nth-child(27n + 48) {
    border-bottom: 3px solid black;
  }
  
  /* Remove border-bottom for cells above horizontal bold borders */
  .cell:nth-child(27n + 10),
  .cell:nth-child(27n + 11),
  .cell:nth-child(27n + 12),
  .cell:nth-child(27n + 37),
  .cell:nth-child(27n + 38),
  .cell:nth-child(27n + 39) {
    border-bottom: none;
  }



    
  .cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  button {
    margin-top: 40px;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 480px) {
    #game-board {
      width: 270px;
      height: 270px;
    }
  
    .cell {
      width: 30px;
      height: 30px;
    }
  
    .cell input {
      font-size: 1em;
    }
  }
  
  /* Media query for iPhone 6/7/8/SE */
  @media (max-width: 375px) {
    #game-board {
      width: 225px;
      height: 225px;
    }
  
    .cell {
      width: 25px;
      height: 25px;
    }
  
    .cell input {
      font-size: 0.8em;
    }
  }
  
  /* Media query for larger iPhone sizes (iPhone 6/7/8 Plus, iPhone XR, iPhone Xs Max) */
  @media (max-width: 414px) {
    #game-board {
      width: 310px;
      height: 310px;
      gap: 1px;
    }
  
    .cell {
      width: 34px;
      height: 34px;
    }
  
    .cell:nth-child(3n) {
      box-shadow: 1px 0 0 0 black;
    }
  
    .cell:nth-child(27n) {
      box-shadow: 0 1px 0 0 black;
    }
  
    .cell input {
      font-size: 1.1em;
    }
  }
  