body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
    background-color: black;
    width: 450px;
    height: 450px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }
  
  .cell:nth-child(3n) {
    border-right: 3px solid black;
  }
  
  .cell:nth-child(27n) {
    border-bottom: 3px solid black;
  }
  
  .cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
  }

  button {
    margin-top: 40px;
  }
  
  table {
    border-collapse: collapse;
    border: 3px solid black; /* Add a bold border around the game grid */
    margin: 0 auto;
  }
  
  td {
    border: 1px solid black;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
  }
  
  input {
    border: none;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
  }
  