body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
    background-color: black;
    width: 450px;
    height: 450px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cell:nth-child(3n + 1),
  .cell:nth-child(3n + 2) {
    border-right: 1px solid #ccc;
  }
  
  .cell:nth-child(3n) {
    border-right: 4px solid black;
  }
  
  .cell:nth-child(-n + 72):not(:nth-child(27n)),
  .cell:nth-child(-n + 81):not(:nth-child(27n)) {
    border-bottom: 1px solid #ccc;
  }
  
  .cell:nth-child(27n) {
    border-bottom: 4px solid black;
  }
  
  .cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  button {
    margin-top: 40px;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 480px) {
    #game-board {
      width: 270px;
      height: 270px;
    }
  
    .cell {
      width: 30px;
      height: 30px;
    }
  
    .cell input {
      font-size: 1em;
    }
  }
  
  /* Media query for iPhone 6/7/8/SE */
  @media (max-width: 375px) {
    #game-board {
      width: 225px;
      height: 225px;
    }
  
    .cell {
      width: 25px;
      height: 25px;
    }
  
    .cell input {
      font-size: 0.8em;
    }
  }
  
  /* Media query for larger iPhone sizes (iPhone 6/7/8 Plus, iPhone XR, iPhone Xs Max) */
  @media (max-width: 414px) {
    #game-board {
      width: 310px;
      height: 310px;
      gap: 1px;
    }
  
    .cell {
      width: 34px;
      height: 34px;
    }
  
    .cell:nth-child(3n) {
      border-right: 2px solid black;
    }
  
    .cell:nth-child(27n) {
      border-bottom: 2px solid black;
    }
  
    .cell input {
      font-size: 1.1em;
    }
  }
  